body, div,img, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, a,blockquote, th, td {margin: 0;padding: 0;border: 0;outline:0;}
*{box-sizing: border-box;}
body {background: #fff;color: #333;font: 12px Noto Sans,"思源黑体";padding-top:60px;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
a {color: #333;text-decoration: none;}
a:hover {text-decoration: none;}
img{vertical-align: bottom;}
ol, ul, li {list-style: none;}
input, textarea, select, button {font: 12px Noto Sans,"思源黑体";outline:0;}
input[type=button], input[type=text], input[type=password]{-webkit-appearance:none;outline:none;box-shadow:none;}
.fu_clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.fu_clearfix{zoom:1}
.fu_relative {position: relative;}
.fu_absolute {position: absolute;}
.fu_wb100{display: block;width:100%;}
.fu_left{float:left;}
.fu_right{float:right;}
.fu_text_lips { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.text-clamp { word-break: break-all; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
.fu_br50 {border-radius:50%;}
.fu_br4 {border-radius:4px;}
.fu_br5 {border-radius:5px;}
.fu_br8 {border-radius:8px;}
.br10 {border-radius:10px;}
.br12 {border-radius:12px;}
.mt30{margin-top:30px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mb40{margin-bottom:40px;}
.mh600{min-height:600px;}

/*头部*/
#fu_header{box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);position: fixed;top: 0;left: 0;width: 100%;z-index: 99;background: #fff;}
#fu_header .fu_header{width: 1200px;height:60px;padding:15px 0;margin: 0 auto;}
#fu_header .fu_logo{height:30px;}
#fu_header .fu_logo>img{height:30px;}
/*导航栏*/
#fu_header .fu_nav{float:left;margin-left:20px;display: inline-block;}
#fu_header .fu_nav li{float: left;height:30px;line-height:30px;font-size: 14px;color: #333;padding:0 10px;}
#fu_header .fu_nav li>a{display: block;width:auto;height:30px;line-height:30px;color: #000;letter-spacing:1px;}
#fu_header .fu_nav li.act{border-radius: 8px 8px 0 0;}
#fu_header .fu_nav li.act>a{color: #FFB31A;font-weight: bold;border-bottom:2px solid #FFB31A;}
#fu_header .fu_nav .fu_naww {display: inline-block;width:12px;height:6px;background: url('../images/more1-1.png');vertical-align: middle;}
#fu_header .fu_nav .fu_act .fu_naww {background: url('../images/share-more.png');}
/*搜索*/
#fu_header .fu_search{height: 30px;display:inline-block;margin-left:15px;position:relative;}
#fu_header .fu_search .fu_sput {float:left;width: 250px;height: 30px;line-height: 16px;padding:  7px 10px;border-top-left-radius:4px;border-bottom-left-radius:4px;background: #F7F7F7;color: #999;font-size: 12px;}
#fu_header .fu_search .fcbm{color:#333;} 
#fu_header .fu_search .fu_lib {float:left;width: 38px;height: 30px;border-top-right-radius:4px;border-bottom-right-radius:4px;background: #ffaa00;cursor: pointer;border: none;padding: 0;display: flex;align-items: center;justify-content: center;}
.fu_sugg2{height:300px;overflow:hidden;position:absolute;top:30px;left:0;box-shadow: 0 0 5px 0 rgba(64,71,81,0.10);background:#fff;}
.fu_sugg2 li i{font-style:normal;color:#999;}
.fu_sugg2 li{display:block;clear:both;line-height:30px;overflow:hidden;padding-left:10px;color:#333;cursor:pointer;width:220px;}
.fu_sugg2 li:hover{clear:both;line-height:30px;overflow:hidden;text-decoration:none;background-color:#eaeaea;display:block;text-align:left;padding-left:10px;}
/*发布*/
#fu_header .pubt{float:left;margin-left:15px;position: relative;}
#fu_header .btn-pubt{display:block;width:60px;height:30px;text-align: center;line-height:30px;background: #FFB31A;color: #fff;font-size: 14px;border-radius: 4px;}
#fu_header .pubt-box{display:none;width:130px;background: #fff;box-shadow: 0 0 5px 0 rgba(64,71,81,0.10);position: absolute;z-index: 999;top:44px;left:-35px;padding:8px;}
#fu_header .pubt-box a{line-height:36px;display: block;text-align: center;font-size:13px;}
#fu_header .pubt-box .fu_arwwj {height: 15px;width: 130px;position: absolute;display: block;left: 0;top: -15px;background:transform;}
/*登录注册*/
#fu_header .perinfo{float:left;display: inline-block;margin-left:40px;height:30px;line-height:30px;}
#fu_header .perinfo .login,#fu_header .perinfo .register{font-size: 15px;color: #000;font-weight:normal;}

#fu_header .myinfo{margin-left:47px;float:left;}
#fu_header .fu_headicon{width:30px;height:30px;display: inline-block;overflow: hidden;}
#fu_header .msgnum{background: #FF3229;border: 1px solid #FFFFFF;border-radius:14px;font-size: 12px;color: #FFF;line-height:12px;position: absolute;top:-4px;left: 55%;padding: 0 2px;text-align: center;}
#fu_header .myedit{display:none;width:130px;padding: 8px;background: #fff;position: absolute;z-index: 99;top:45px;left:-50px;box-shadow: 0 0 5px 0 rgba(64,71,81,0.10);}
#fu_header .myedit a{line-height:36px;display: block;text-align: center;font-size:13px;}
#fu_header .myinfo .fu_arwwj {height: 15px;width: 130px;position: absolute;display: block;left: 0;top: -15px;}
#fu_header .myedit .boll{display:none;width:6px;height:6px;background: #FF3229;border-radius: 50%;position:absolute;top:8px;right:23px;}

/*菜单弹窗*/
.fu_nav .fu_ctip {display:none;box-shadow: 0 2px 5px 0 rgba(64,71,81,0.10);border-bottom-right-radius:8px;border-bottom-left-radius:8px;font-size:14px;text-align:left;width: 800px;background: #fff;position: absolute;top: 45px;left: -162px;z-index: 99;padding-left:16px;}
.fu_nav .fu_ctip .fu_arwwj {height: 15px;width: 492px;position: absolute;display: block;left: 0;top: -15px;background:transform;}
.fu_nav .fu_ctip img{vertical-align: middle;position: relative;top: -1px;height: 12px;}
.fu_nav .fu_healthy {display:none;box-shadow: 0 2px 5px 0 rgba(64,71,81,0.10);border-bottom-right-radius:8px;border-bottom-left-radius:8px;font-size:14px;text-align:left;width: 702px;background: #fff;position: absolute;top: 45px;left: -162px;z-index: 99;padding-left:16px;}
.fu_nav .fu_healthy .fu_arwwj {height: 15px;width: 492px;position: absolute;display: block;left: 0;top: -15px;background:transform;}
.fu_nav .fu_healthy img{vertical-align: middle;position: relative;top: -1px;height: 12px;}
.fu_nav .fu_ctab {line-height:55px;}
.fu_nav .fu_ctab a{display:inline-block;color: #383830;margin-right:43px;}
.fu_nav .fu_ctab img{display:inline-block;height:16px;}
.fu_nav .fu_citem,.fu_nav .fu_diet {margin-bottom:32px;}
.fu_nav .fu_citem>span {float:left;width:100px;text-align:center;font-weight:bold;margin-right:16px;line-height:30px;color:#333;}
.fu_nav .fu_citem>div {float:left;width:666px;}
.fu_nav .fu_citem a {width:95px;display: inline-block;float:left;line-height:30px;}

.fu_nav .fu_diet>span {float:left;width:100px;text-align:center;font-weight:bold;margin-right:16px;line-height:30px;color:#333;}
.fu_nav .fu_diet>div {float:left;width:570px;}
.fu_nav .fu_diet a {width:95px;display: inline-block;float:left;line-height:30px;}
.fu_nav .imore,.fu_nav .fu_cmore a{color: #256DC6;}
.fu_nav .fu_cmore {line-height:52px;text-align: center;border-top:1px solid #E5E3DF;margin-right:16px;}
.fu_nav .fu_ctab a:hover,.fu_nav .fu_citem a:hover.nav .fu_diet a:hover{color:#ffaa00;}
.fu_nav .fu_citem .imore:hover{color:#256DC6;}
.fu_nav .fu_diet .imore:hover{color:#256DC6;}


#fu_header .fu_nav li>a:hover,#fu_header .pubt-box a:hover,#fu_header .myedit a:hover,#fu_header .perinfo a:hover{color:#ffaa00;}

/*主体*/
#fu_content {width:1000px;margin: 0 auto;}
#fu_left{width:690px;float:left;}
#fu_right{width:280px;float:right;}
/*尾部*/
#fu_footer {width: 100%;margin-top: 30px;background:#f8f8f8; }
.fu_dginfo {background: #f2f2f2;}
.fu_dgintro {width: 1000px;position: relative;height: 188px;margin:0 auto;padding-top: 94px;}
.fu_dgintro .fu_logo2 {width: 147px;left: 0;top: 35px;position: absolute;}
.fu_dgintro .fu_datainfo{width: 690px;}
.fu_dgintro .fu_datainfo h1 {color: #999;font-size: 14px;}
.fu_dgintro .fu_datainfo p {color: #999;line-height: 160%;margin-top: 10px;}
.fu_dgintro .fu_datainfo span {font-family: Georgia,"Times New Roman",Times,serif;font-size: 24px;color: #84b92c;line-height: 160%;}
.fu_dgintro .fu_threbl {width: 312px;position: absolute;top: 16px;left:690px;}
.fu_dgintro h3 {font-size: 14px;color: #333;margin-bottom: 8px;}
.fu_dgintro ul li {width: 92px;float: left;margin-right: 12px;text-align: center;}
.fu_emwx {background:url(../images/qrcode.png) no-repeat;background-position: 0 0;}
.fu_emdgms {background: url("../images/xcx.jpg") no-repeat;background-size: cover;}
.fu_emwx, .fu_emdgms {width: 92px;height: 92px;display: block; margin-bottom: 8px;}

#fu_footer .fu_foot {width: 1000px;margin: 0 auto;padding-top: 18px;}
#fu_footer .fu_clink {width: 100%;float: left;text-align: center;margin: 15px 0;}
#fu_footer .fu_clink a {color: #6b553f;}
#fu_footer .fu_botfans{padding:15px 0 20px 370px;}

/* 产品中心样式 */
.main-top {
    /* height: 500px; */
    width: 100%;
}

.gallery-isotope {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1000px;
    margin: 120px auto 44px auto;
}

.gallery-item {
    width: 25%;
    margin-bottom: 55px;
    text-align: center;
}

.gallery-item .product-details {
    padding-top: 16px;
}

.gallery-item p a {
    font-size: 18px;
    font-weight: 500;
    color: #19244F;
}

.gallery-item img {
    width: 60%;
    margin: 0 auto;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.page-item {
    cursor: pointer;
    padding: 0 13px;
    background-color: #016BFD;
    color: #FFFFFF;
    height: 30px;
    border-radius: 6px;
    line-height: 30px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 400;
}

.page-item:hover {
    background-color: #1172fb;
    transform: scale(1.1);
}

/* .details-box {} */

.details {
    width: 1000px;
    margin: 100px auto 50px auto;
    display: flex;
    justify-content: center;
}

.details-left {
    width: 380px;
    height: 380px;
    background-color: #F6F7F9;
    padding: 19px;
    border-radius: 20px;
    margin-right: 110px;
}

.details-left img {
    width: 80%;
    margin: 0 auto;
}

.foot-nav {
    width: 1000px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.foot-nav div {
    color: #19244F;
    cursor: pointer;
}

.foot-nav div:hover {
    color: #FFB31A;
}

.goods-info {
    font-size: 12px;
}

/* 产品详情页样式 */
.details-right h2 {
    margin-bottom: 12px;
}

/* 漫画下拉样式 */
.manhua{
    box-shadow: 0 2px 5px 0 rgba(64, 71, 81, 0.10);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
    text-align: center;
    width: 98px;
    background: #fff;
    position: absolute;
    top: 45px;
    left: 7px;
    z-index: 99;
    padding-bottom: 10px;
    padding-top: 5px;
}

.manhua .arwwj {
    height: 15px;
    width: 98px;
    position: absolute;
    display: block;
    left: 0;
    top: -15px;
    background: transform;
}

/* 响应式设计 */
 (max-width: 1200px) {
    #fu_header .fu_header {
        width: 90%;
    }
    
    .gallery-isotope {
        width: 90%;
    }
    
    .details {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    
    .details-left {
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .foot-nav {
        width: 90%;
    }
    
    #fu_footer .fu_foot {
        width: 90%;
    }
    
    .fu_dgintro {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .gallery-item {
        width: 50%;
    }
    
    #fu_header .fu_nav {
        display: none;
    }
    
    #fu_header .fu_search {
        margin-left: 10px;
    }
    
    #fu_header .fu_search .fu_sput {
        width: 200px;
    }
    
    .pagination {
        flex-wrap: wrap;
    }
    
    .page-item {
        margin-bottom: 10px;
    }
    
    .details-left {
        width: 100%;
        height: auto;
    }
    
    .foot-nav {
        flex-direction: column;
        height: auto;
        gap: 15px;
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        width: 100%;
    }
    
    #fu_header .fu_search .fu_sput {
        width: 150px;
    }
    
    .gallery-isotope {
        margin: 80px auto 30px auto;
    }
    
    .gallery-item {
        margin-bottom: 30px;
    }
    
    .pagination {
        margin-bottom: 50px;
    }
    
    .details {
        margin: 50px auto 30px auto;
    }
}

/*评论*/
#comment .author-img, .author-comment {float: left;}
#comment .in-comment {padding-bottom: 20px;position: relative;}
#comment .in-comment .author-img {width:30px;height:30px;margin-right: 12px;overflow:hidden;}
#comment .in-comment .comm-txt {width: 648px;height: 112px;resize: none;padding: 12px;border: 1px solid #E5E3DF;border-radius: 4px;}
#comment .in-comment > .comm-btn {float: right;color:#FFB31A;right: 0;margin-top: 10px;display: inline-block;border-radius: 4px;height:34px;width:104px;text-align:center;line-height:34px;font-size: 15px;border:1px solid #FFB31A;}
#comment .comm-txt a {color: #256DC6;}
#comments{padding-bottom:40px;}
#comments .author-img img{width:30px;height:30px;border-radius: 50%;}
#comments li {padding: 20px 0;border-bottom: 1px solid #E5E3DF;position: relative;}
#comments .author-comment {margin-left:10px;width:627px;}
#comments .author-comment .fu_nickname {font-size: 13px;display:inline-block;margin-top:6px;}
#comments .author-comment .commtxt {font-size: 15px;color: #333;margin-top:6px;line-height:24px;}
#comments .author-comment .time {font-size: 13px;color: #999;margin-top:14px;}
#comments .author-comment .reply-btn { display: inline-block;position: absolute;bottom: 20px;right: 0;color: #256DC6;font-size: 13px;}
/*分页*/
.pages {text-align: center;margin: 20px auto 0;}
.pages a {display: inline-block;padding: 2px 6px 3px;background: #fff;color: #333;margin:0 7px;border:1px solid #333;font-size:14px;border-radius:4px;}
.pages a.aon {background: #FFB31A;color:#fff;border:1px solid #FFB31A;}
/*提示弹窗*/
.fadetip{position:fixed;width:400px;min-height:60px;background:rgba(0,0,0,.6);top:50%;left:50%;margin-top:-30px;margin-left:-200px;padding: 15px;font-size: 15px;text-align: center;line-height: 27px;z-index: 999999;border-radius: 8px;color:#fff;}
/*登录弹窗*/
.fu_smask{position:fixed;width:100%;height:100%;top:0;left:0;background: black;z-index:999;display: none;opacity: .6;filter: alpha(opacity=60)}
#fu_log_box,#coll-box,#bigimg {display: none;z-index: 1000;}
#fu_log_box{width:483px;height:583px;background:#fff;position: fixed;top:50%;left:50%;margin-top:-291px;margin-left:-241px;padding: 0 45px 45px;}
#fu_log_box .fu_logo{display: block;margin:35px auto;}
#fu_log_box input{display: block;width:395px;height:50px;line-height:50px;background: #FFFFFF;border: 1px solid #E5E3DF;border-radius: 4px;margin-top:16px;padding:0 17px;font-size: 15px;}
#fu_log_box .fu_login_btn{display: block;width:395px;height:42px;line-height:42px;text-align: center;color: #fff;background: #FFB31A;margin:13px 0 25px;font-size: 15px;}
#fu_log_box .fu_forget{text-align: right;margin-bottom: 50px;}
#fu_log_box .fu_forget a{font-size: 15px;color: #256DC6;}
#fu_log_box .fu_log_type{text-align: center;padding:0 34px;}
#fu_log_box .fu_log_type p{margin-bottom: 30px;font-size:15px;color:#999;}
#fu_log_box .fu_log_type .list{padding-left:3px;}
#fu_log_box .fu_log_type span{display:block;text-align:center;}
#fu_log_box .fu_log_type a{margin:0 27px;}
#fu_log_box .fu_close_logbox{position: absolute;top:20px;right:20px;cursor: pointer;}
.fu_cellerr,.fu_pwerr{height:16px;line-height:16px;font-size:12px;color: red;padding: 5px;}
/*typehead*/
.type-tab{margin-bottom:25px;margin-top:11px;}
.fu_type_head {font-size: 14px;text-align: center;width:auto;margin:0 auto;display:inline-block;}
.fu_type_head a {display: inline-block;float: left;color: #383830;height:42px;line-height:42px;margin-right:30px;}
.fu_type_head a.active {border-bottom: 2px solid #383830;font-weight: bold;color: #383830;}
.fu_type_head a:hover{color:#ffaa00;}

.mini-tab{margin-top:30px;height:42px;}
.mini-tab a{font-size:18px;display:inline-block;height:42px;line-height:40px;padding:0 32px;float:left;margin-right:20px;color:#959595;border: 1px solid #959595;border-radius: 4px;}
.mini-tab a.active{background: #FFB31A;color:#fff;border: 1px solid #FFB31A;}

.title-head {line-height:18px;}
.title-head h3 {font-size: 18px;display: inline-block;font-weight: bold;color: #333;}
.title-head .fu_more {display: inline-block;float: right;color: #256DC6;font-size: 16px;}
.title-head .more-icon {vertical-align: middle;height: 14px;position: relative;top: -2px;}
.stit h3{font-size: 16px;}
.mbt30{margin-bottom: 30px;}
/*面包屑导航*/
.fcc{font-size: 13px;color: #333;line-height: 13px;padding:80px 0 10px;}
.fcc a:hover{color:#ffaa00;}
/*达人标识*/
.proqy,.progr{margin-left:3px;width:16px;height:16px;display:inline-block;vertical-align:middle;background:url(https://i1.douguo.com/static/img/level_icon.png) no-repeat;}
.proqy{background-position:0 0;}
.progr{background-position:0 -22px;}

.fu_proicon{margin-left:3px;width:16px;height:16px;display:inline-block;vertical-align:middle;}
.fu_proicon .fu_proimg{display:block;width:100%;}
/*性别图标*/
.male{background: url("../images/male.png") no-repeat;background-size: 100% 100%;}
.female{background: url("../images/female.png") no-repeat;background-size: 100% 100%;}
/* 大家都在搜 */
.fu_all_search h1{ margin-bottom: 8px;}  
.fu_all_search .fu_name{display: inline-block; width: 128px; font-size: 16px;color: #333; line-height: 28px;padding: 8px 0; margin: 0 10px 0 0; box-sizing: border-box; overflow: hidden; background-color: white;}
.fu_all_search span:hover{color: #F4B644;}




#fu_content {width:1000px;margin: 0 auto;}
#fu_left{width:690px;float:left;}
#right{width:280px;float:right;}
/*尾部*/
#fu_footer {width: 100%;margin-top: 30px;background:#f8f8f8; }
.fu_dginfo {background: #f2f2f2;}
.fu_dgintro {width: 1000px;position: relative;height: 188px;margin:0 auto;padding-top: 94px;}
.fu_dgintro .fu_logo2 {width: 147px;left: 0;top: 35px;position: absolute;}
.fu_dgintro .fu_datainfo{width: 690px;}
.fu_dgintro .fu_datainfo h1 {color: #999;font-size: 14px;}
.fu_dgintro .fu_datainfo p {color: #999;line-height: 160%;margin-top: 10px;}
.fu_dgintro .fu_datainfo span {font-family: Georgia,"Times New Roman",Times,serif;font-size: 24px;color: #84b92c;line-height: 160%;}
.fu_dgintro .fu_threbl {width: 312px;position: absolute;top: 16px;left:690px;}
.fu_dgintro h3 {font-size: 14px;color: #333;margin-bottom: 8px;}
.fu_dgintro ul li {width: 92px;float: left;margin-right: 12px;text-align: center;}
.fu_emwx {background:url(../images/qrcode.png) no-repeat;background-position: 0 0;}
.fu_emdgms {background: url("../images/xcx.jpg") no-repeat;background-size: cover;}
.fu_emwx, .fu_emdgms {width: 92px;height: 92px;display: block; margin-bottom: 8px;}

#fu_footer .fu_foot {width: 1000px;margin: 0 auto;padding-top: 18px;}
#fu_footer .fu_clink {width: 100%;float: left;text-align: center;margin: 15px 0;}
#fu_footer .fu_clink a {color: #6b553f;}
#fu_footer .fu_botfans{padding:15px 0 20px 370px;}