.goods-list {
	font-size: 0;
	margin-top: 30px;
}

.goods {
	display: inline-block;
	margin-bottom: 39px;
	width: 240px;
	margin-right: 13px;
}

.goods .img-box {
	display: inline-block;
	width: 240px;
	height: 240px;
	line-height: 240px;
	overflow: hidden;
	text-align: center;
	vertical-align: center;
	background: #f4f4f4;
}
.goods img{
	width: 240px;
	vertical-align: middle
}
.goods h3 {
	height: 40px;
	margin-top: 9px;
	font-size: 15px;
	line-height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.goods h3:hover{color:#ffaa00;}

.goods.four {
	margin-right: 0;
}

.goods .goodsinfo {
	margin-top: 10px;
	font-size: 0;
}

.goods .price {
	margin-right: 5px;
	color: #FF4C44;
	font-size: 18px;
	line-height: 18px;
}

.goods .old-price, .goods .volume {
	display: inline-block;
	font-size: 12px;
	color: #999;
	vertical-align: top;
	line-height: 18px
}

.goods .volume {
	float: right;
}
.loading{text-align: center;margin-top:40px;}
.loading img{vertical-align: top;width:13px;padding-top:3px;}
.loading span{margin-left:10px;font-size: 13px;}


.goods-info{margin-top:30px;padding-bottom:40px;font-size: 0;}
.goods-info .goods-simg,.goods-info .goods-bimg,.goods-info .fu_info{display: inline-block}
.goods-info .goods-simg{width: 56px;height: 56px;margin-right:10px;font-size: 0;vertical-align: top;overflow: hidden}
.goods-info .goods-simg img{vertical-align: middle;width: 56px}
.goods-info .img-border {border: 1px solid #FFB31A;}
.goods-info .goods-simg .simg-box{width: 56px;height: 56px;background: #f4f4f4;margin-bottom: 10px;border-radius: 4px;overflow: hidden; line-height: 56px;text-align: center;}
.goods-info .goods-simg .bt0{margin-bottom: 0;}
.goods-info .goods-bimg{position:relative;width: 320px;height:320px;margin-right: 20px;background: #f4f4f4;border-radius: 6px;overflow: hidden;text-align: center;line-height: 320px;}
.goods-info .goods-bimg img{vertical-align: middle;width: 320px;}
.goods-info .fu_info{width: 580px;height: 320px;vertical-align: top}
.goods-info .fu_info .goods-name{height:60px;font-size: 20px;font-weight: bold;line-height: 30px; text-overflow: ellipsis;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-top:30px;}
.goods-info .fu_info .description{margin-top:12px;font-size: 15px;line-height: 27px;color: #999;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.goods-info .sell-info{width: 524px;margin-top:30px;}
.goods-info .price{display: inline-block;margin-right:10px;font-size:24px;line-height:24px;color: #FF4C44;}
.goods-info .old-price{display: inline-block;font-size:16px;line-height:20px;color: #999;}
.goods-info .other{margin-top:15px;font-size: 14px;line-height: 14px;}
.goods-info .other span{margin-right: 30px;}
.buymod{margin-top:30px;}
.goods-info .fu_info .buy{display:inline-block;width: 80px;border-radius:4px;background:#FFB31A;color: #fff;font-size: 15px;line-height: 34px;text-align: center;height:34px;float:left;margin-left:30px;}
.buy-box{position: absolute;top:-74px;left:244px;width:250px;display: none;}
.buy-close{position: absolute;top:10px;right:10px;width:10px;cursor: pointer;}

.goods-img{padding: 30px 0 40px;font-size: 0;text-align:center;}
.goods-img h3{font-size: 20px;line-height: 20px;font-weight: bold;margin-bottom: 40px;/* border-top:1px solid #e5e3df; */}
.goods-img img{width: 600px;vertical-align: initial;}

.notice{padding: 30px 0 40px;font-size: 0;}
.notice h3{font-size: 20px;line-height: 20px;font-weight: bold;margin-bottom: 20px;}
.notice p{font-size: 15px;line-height: 25px;margin-top: 15px;text-align:justify;}
.notice .more-line{line-height: 21px;margin-top: 16px;}

.comment{padding-top: 30px;font-size: 0;}
.comment h3{font-size: 20px;line-height: 20px;font-weight: bold;margin-bottom: 20px;}
.comment .comment-list li{padding: 30px 0;position: relative;}
.comment .comment-list .border0{border-bottom: none;}
.comment .user-head{width: 50px;height: 50px;border-radius: 100%;}
.comment .des-comment{display: inline-block;margin-left: 10px;}
.comment img{vertical-align: top}
.comment .des-comment h4{font-size: 18px;line-height: 18px}
.comment .des-comment p{font-size: 15px;margin-top: 8px;line-height: 15px;}
.comment .des-comment .time{margin-top:14px;color: #999;}
.comment .comment-type{position:absolute;font-size: 16px;padding: 10px 20px;right: 10px;top: 30px;border: 1px solid #E5E3DF;}
.des-comment img{width: 70px;height: 70px;margin-right: 10px;margin-top: 10px;}
.advisory{padding: 30px 0 40px;font-size: 0;text-align: center;}
.advisory h3{font-size: 20px;line-height: 20px;font-weight: bold;margin-bottom: 40px;}
.advisory p{font-size:16px;margin-bottom: 25px;}
.advisory img{width: 250px;height: 250px;}