/*全部主题站*/
.allsite .asone {position:relative;width: 315px;padding-top: 15px;float: left;background-color: #fff;box-shadow: 0 1px 3px rgba(100,100,100,.3);-moz-box-shadow: 0 1px 3px rgba(100,100,100,.3);-webkit-box-shadow: 0 1px 3px rgba(100,100,100,.3);margin:0 40px 40px 0;}
.allsite .odd{margin-right:0;}
.allsite .asone .aspc {float: left;margin: 0 15px 15px 15px;width: 70px;height: 70px;}
.allsite .asone .aspc img {width: 70px;height: 70px;}
.allsite .asone h3 {width: 210px;overflow: hidden;padding-bottom: 3px;font-size: 14px;height: 20px;text-overflow: ellipsis;white-space: nowrap;}
.allsite .asone p {color: #999;line-height: 160%;float: left;width: 210px;height: 40px;overflow: hidden;}
.allsite .asone .allthe {width: 315px;height: 40px;background: #fafafa;border-top: 1px solid #f6f6f6;float: left;text-align: right;}
.allsite .asone .allthe span {line-height: 40px;padding-right: 20px;}
.allsite .asone a:hover{color:#ffaa00;}
.catelink{position:absolute;top:0;left:0;right:0;bottom:0;}

/*全部文章、主题站详情*/
.cate-title{font-weight:bold;font-size:20px;line-height:20px;}
.catelist{margin-top:25px;}
.fu_article {margin-bottom: 25px;font-size: 12px;}
.fu_article .fu_article_img {width: 183px;height: 125px;float: left;margin-right: 15px;overflow:hidden;}
.fu_article .fu_article_img a{width: 183px;height: 130px;display:block;background: #f9f9f9;}
.fu_article .fu_article_img img {display:block;width: 183px;overflow: hidden;}
.fu_article .fu_article_info{float:left;width:455px;height:125px;overflow:hidden;}
.fu_article .fu_title {font-size: 15px;line-height: 15px;height:15px;color: #383830;display:inline-block;width: 455px;margin-top:12px;}
.fu_article .info, .fu_article .fu_from {color: #383830;font-size: 12px;line-height: 12px;height:12px;margin:17px 0;}
.fu_article .fu_createtime{color:#999;}
.fu_article .fu_sall {display:block;font-size: 12px;line-height: 12px;height:12px;margin-top:14px;color: #256DC6;}
.fu_article a:hover, .theme a:hover {color: #ffaa00;}
.fu_article .fu_sall:hover{color: #256DC6;}

.fu_theme_right{margin:5px 0 40px;}
.fu_theme_right li{width: 280px;height: 70px;margin-top:20px;}
.fu_theme_right .fu_theme_img {width: 70px;height: 70px;float: left;margin-right: 8px;border-radius: 5px;overflow: hidden;}
.fu_theme_right .fu_theme_img img {width: 70px;height: 70px;}
.fu_theme_right .fu_theme_title {display:inline-block;font-size: 15px;margin-bottom: 7px;color: #333;width:202px;}
.fu_theme_right .fu_content {float:left;color: #999;font-size: 13px;line-height: 20px;width:202px;height: 43px;overflow: hidden;}
.fu_container {font-size: 13px;line-height: 24px;}

/*全部文章*/
.all-article .fu_article {font-size: 15px;}
.all-article .fu_article_img img {border-radius: 8px;}
.all-article .fu_article h4 {font-size: 18px;}
.all-article .fu_article p {line-height: 30px;}
.all-article .theme {width: 280px;box-sizing: border-box;height: 140px;padding: 20px 0;margin: 0;border-bottom: 1px solid #E5E3DF;box-shadow: none;}
.all-article .fu_theme_img {width: 94px;height: 94px;margin-right: 15px;}
.fu_submission {padding-top: 20px;}
.fu_submission .fu_title_head {margin-bottom: 15px;}

/*主题站详情*/
.themehead {width: 690px;box-sizing: border-box;}
.themehead .fu_theme_img {width: 98px;height: 98px;float: left;margin-right: 16px;overflow: hidden;border-radius:8px;}
.themehead .fu_theme_img img {width: 98px;height: 98px;}
.theme-info{float:left;width:478px;height:98px;overflow: hidden;}
.theme-info>a {display:inline-block;font-size: 20px;color:#333;}
.theme-info>p {width: 478px;font-size: 13px;color: #999;line-height: 22px;margin-top:7px;}
/*动漫*/
.anime {width: 330px;float: left;text-align: center;margin-top: 30px;margin-right: 30px;box-shadow: 0 0 5px #FDFDFD;}
.anime.odd {margin-right: 0;}
.anime h3 {font-size: 16px;width: 180px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;line-height: 62px;margin: 0 auto;color: #333;}
.anime:hover h3{color:#ffaa00;}
.anime-img {width: 100%;height: 330px;overflow: hidden;}
.anime-img img {width: 100%;}
.game-tit{font-size:15px;line-height: 20px;}
.mini-game ul{margin-top:2px;}
.mini-game li {font-size: 13px;line-height: 34px;font-weight: normal;}
.mini-game li a:hover{color:#ffaa00;}
.anime-des img {max-width: 690px;}
/*热门文章*/
.hot-article .fu_article {height: auto;padding: 15px 0;}
.hot-article .fu_article_img {width: 70px;height: 70px;}
.hot-article .fu_article_img img {border-radius: 8px;}
.hot-article .info, .hot-article .fu_from {line-height: 25px;}

